body {
	background: url(../images/bokeh.jpg);
	background-size: cover;

}

h1 {
	font-size: 64px;
	color:#ffddff;
	font-family: Helvetica, sans-serif;

}


#slogan {
	font-size: 36px;
	font-style: italic;
	background-color:#eeccee;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

p {
	background-color: rgba(250,235,250,0.5);
 	font-weight: 800;

}


li {
	font-weight: 800;
	background-color: rgba(250,235,250,0.5);
	list-style-type: none
}


